# Node modules
node_modules/

# Logs
logs
*.log

# Env files
.env

# Cassandra Secure Connect Bundle
# secure-connect-*/
# *.zip

# IDE settings
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db